/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.box {
    position: absolute;
    background: #bada55;
    overflow: hidden;
}

.box:hover, .box__isSelected {
    border: 1px solid #405b74;
}

.box_inner {
    position: relative;
}

.createBoxPreview {
    position: absolute;
    border: 1px solid #000;
    pointer-events: none;
}



