.canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.box {
    position: absolute;
    background: #bbdefb;
    overflow: hidden;
}

.box:hover {
    border: 1px solid #90caf9;
}

.box_inner {
    position: relative;
}

.createBoxPreview {
    position: absolute;
    border: 1px solid #000;
    pointer-events: none;
}



